{
    "printWidth": 80,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [{
        "files": "*.js",
        "parser": "javascript"
    }, {
        "files": "*.json",
        "parser": "json"
    }]
}
